/* The styling that's included on all pages*/
body {
    background: #c20e0e;
    font-family: 'Montserrat', sans-serif;
}

.centered {
    text-align: center;
}

.bold {
    font-weight: bolder;
}

.error-message {
    background-color: #c20e0e;
    color:white;
    opacity: 0.8;
    padding: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 0.8em;
    font-weight: bold;
    border-radius: 10px;
}

.hidden{
    height: 0;
    margin: 0;
    padding: 0;
    visibility: hidden;
}

.title {
    font-weight: bold;
    color: #8f8f8f;
}