/* Index.html Styling for Desktop Viewport */

header {
    min-height: 100vh;
}

#quote-wrapper {
    padding: 40px;
}

#header-quote {
    font-size: 2em;
}

#header-quote span {
    font-size: 2em;
}

#get-started {
    font-size: 0.75em;
}

.features-panel {
    width: 25%;
}

.about-container {
    width: 40%;
}

.about-container p {
    max-width: 100%;
}

.about-container img {
    width: 80%;
}
