/* Index.php Base Styling */

/* Setting website color scheme */

:root {
    --main-color: #c20e0e;
    --offset-color: #ffffff;
    --background-color: #000000;
}

.hidden {
    display: none !important;
}

html, body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    background: var(--offset-color);
    scroll-behavior: smooth;
}

header {
    display: flex;
    flex-direction: column;
    background-image: url("../images/header-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    box-shadow: inset 0 0 10px #000000;

    transition: min-height 1s ease-in-out;
    -webkit-transition: min-height 1s ease-in-out;
    -moz-transition: min-height 1s ease-in-out;
    -o-transition: min-height 1s ease-in-out;
}

.container {
    width: 100%;
}

.container > h1 {
    margin: 0;
    padding: 1em 0 1em 0;
    text-align: center;
    color: var(--main-color);
    text-transform: uppercase;

    transition: font-size .5s ease-in-out;
    -webkit-transition: font-size .5s ease-in-out;
    -moz-transition: font-size .5s ease-in-out;
    -o-transition: font-size .5s ease-in-out;
}

.container > h3 {
    margin: 0;
    padding: 1em 0 1em 0;
    text-align: center;
    transition: font-size .5s ease-in-out;
    -webkit-transition: font-size .5s ease-in-out;
    -moz-transition: font-size .5s ease-in-out;
    -o-transition: font-size .5s ease-in-out;
}

.centered {
    text-align: center;
}

/* Navigation tab */

nav {
    margin-top: 0;
    margin-bottom: 1em;
    padding: 1.5em;
    color: var(--offset-color);
    width: 100%;
    box-sizing: border-box;
}

nav li {
    display: inline-block;
    padding: 0.65em 1em;
    list-style-type: none;
    text-transform: uppercase;
    font-size: 1em;
    float: right;
}

nav li a {
    color: inherit;
    text-decoration: none;
    transition: .2s;
}

nav li a:hover {
    color: var(--main-color);
    text-decoration: none;
}

/* Button styles */

.square-button {
    display: inline-block;
    border: solid 2px var(--main-color);
    color: var(--main-color);
    padding: 0.5em 1em;
    margin: 0 0.5em;
    transition: .5s;
    text-transform: uppercase;
    font-weight: bold;
    background-color: var(--background-color);
    white-space: nowrap
}

.square-button:hover {
    color: var(--background-color);
    background: var(--main-color);
}

.rounded-button {
    border: solid 2px var(--main-color);
    padding: 0.5em 1em;
    color: var(--background-color);
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 30px;
    background-color: var(--main-color);
    transition: .2s;
    text-decoration: none;
    white-space: nowrap
}

.rounded-button:hover {
    transform: scale(1.05);
    background-color: hsl(0, 87%, 30%);
    border-color: hsl(0, 87%, 30%);
}

.scroll-button {
    display: block;
    margin-top: auto;
    color: var(--offset-color);
    left: 50%;
    transition: opacity .3s;
    opacity: .5;
}

.scroll-button a {
    text-decoration: none;
}

.scroll-button:hover {
    opacity: .25;
}

.scroll-button p {
    display: block;
    color: var(--offset-color);
    left: 50%;
    text-transform: uppercase;
    letter-spacing: .1em;
}

.scroll-button svg {
    display: inline-block;
    justify-content: center;
    transform: rotate(90deg) scale(1);
    fill: var(--offset-color);
    width: 2.5em;
    height: 2.5em;

    border-radius: 50%;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
}

.scroll-button:hover svg {
    animation: pulse 2s;
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.25);
        -moz-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.25);
    }
    70% {
        box-shadow: 0 0 0 10px rgba(255, 255, 255, 0);
        -moz-box-shadow: 0 0 0 10px rgba(255, 255, 255, 0);
    }
    100% {
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
        -moz-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
    }
}

@-webkit-keyframes pulse {
    0% {
        -webkit-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.25);
    }
    70% {
        -webkit-box-shadow: 0 0 0 10px rgba(255, 255, 255, 0);
    }
    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
    }
}

#get-started {
    display: block;
    text-align: center;
    transition: font-size .5s ease-in-out;
    -webkit-transition: font-size .5s ease-in-out;
    -moz-transition: font-size .5s ease-in-out;
    -o-transition: font-size .5s ease-in-out;
}

/* About section */

#about {
    display: block;
    padding: 2em;
    box-sizing: border-box;
}

.about-wrapper {
    display: flex;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    justify-content: center;
    align-items: center;
    margin: 2em;
}

.about-container {
    display: inline-block;
    flex: 1 0 auto;
    padding: 2em;
}

.about-container p {
    text-align: justify;
    margin: 0;
}

.about-container img {
    height: auto;
}

.nonselectable {
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Opera and Firefox */
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
}

#quote-wrapper {
    display: block;
    margin-top: 2em;
}

#header-quote {
    display: inline-block;
    color: var(--offset-color);
    text-transform: uppercase;
    text-align: center;

    transition: font-size .5s ease-in-out;
    -webkit-transition: font-size .5s ease-in-out;
    -moz-transition: font-size .5s ease-in-out;
    -o-transition: font-size .5s ease-in-out;
}

#header-quote span {
    display: block;
    color: var(--main-color);
    transition: .2s;
    font-weight: bold;

    transition: font-size .5s ease-in-out;
    -webkit-transition: font-size .5s ease-in-out;
    -moz-transition: font-size .5s ease-in-out;
    -o-transition: font-size .5s ease-in-out;
}

#header-quote span:hover {
    color: var(--main-color);
    transform: scale(1.1);
}

/* Features section */

.features-wrapper {
    display: flex;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    align-items: stretch;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    text-align: center;
    justify-content: center;
    margin: 2em;
}

.features-panel {
    display: inline-block;
    flex: 1 0 auto;
    margin: 1em;
    padding: 1.25em;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);

    transition: width .5s ease-in-out;
    -webkit-transition: width .5s ease-in-out;
    -moz-transition: width .5s ease-in-out;
    -o-transition: width .5s ease-in-out;
}

.features-panel h2 {
    margin: 0;
}

.features-panel svg {
    height: 4em;
    width: 4em;
}

.center-text {
    text-align: center;
}

/* Footer */

footer {
    color: var(--offset-color);
    background-color: var(--background-color);
    padding: 1em;
}

#trademark {
    width: 100%;
    text-align: center;
}
